"use strict";

const FACEBOOK_APP_ID = '';
const FACEBOOK_APP_SECRET = '';
const FACEBOOK_CALLBACK_URL = '';

const TWITTER_API_KEY = '';
const TWITTER_API_SECRET = '';
const TWITTER_CALLBACK_URL = '';

const REDDIT_API_KEY = '';
const REDDIT_API_SECRET = '';
const REDDIT_CALLBACK_URL = '';

const SUCCESSFUL_LOGIN_REDIRECT = '';
const FAILURE_LOGIN_REDIRECT = '';

const APP_SESSION_SECRET = '';

const JWT_SECRET = '';
const JWT_ISSUER = '';
const JWT_AUDIENCE = '';

export {
	FACEBOOK_APP_ID,
	FACEBOOK_APP_SECRET,
	FACEBOOK_CALLBACK_URL,

	TWITTER_API_KEY,
	TWITTER_API_SECRET,
	TWITTER_CALLBACK_URL,

	REDDIT_API_KEY,
	REDDIT_API_SECRET,
	REDDIT_CALLBACK_URL,

	JWT_SECRET,
	JWT_ISSUER,
	JWT_AUDIENCE,

	SUCCESSFUL_LOGIN_REDIRECT,
	FAILURE_LOGIN_REDIRECT,

	APP_SESSION_SECRET
}
